.container {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-box {
  width: 150px;
  height: 150px;
  background-color: #495753;
  border-radius: 20px;
}

.tagAnim {
  position: absolute;
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.highlight {
  background-color: #ff6347; /* Change to any highlight color you want */
  transform: scale(1.1); /* Slightly enlarge the tag */
  color: #fff; /* Change text color for better contrast */
}

/* Position each tag */
.tag-top {
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.tag-left {
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
}

.tag-right {
  right: -45px;
  top: 50%;
  transform: translateY(-50%);
}

.tag-bottom {
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
